[user]
	name = Kyle McDowell
	email = 10101986+archerbird@users.noreply.github.com
	signingkey = 77D02C7E4709BFDB
[core]
	autocrlf = input
	ignorecase = false
[credential]
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	gpgsign = true
