[user]
	name = Kyle McDowell
	email = 10101986+archerbird@users.noreply.github.com
	signingkey = EDB3428144D5E054
[core]
	autocrlf = input
	ignorecase = false
	excludesfile = /Users/kmcdowell/.gitignore_global
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[credential "https://dev.azure.com"]
	useHttpPath = true
